* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,cursive;
}

body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(wallhaven-83rr62_1920x1080.png);
        background-position: center;
        position: static;
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.logo{
    font-size: #fff;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

.container {
    height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px #fefefe;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
}

.shape {
    background-color: #002244;
    height: 250px;
    width: 400px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(25deg);
}

.image {
    height: 100px;
    width: 100px;
    background-image: url(./WhatsApp\ Image\ 2023-06-23\ at\ 12.33.47\ PM\ \(1\).jpeg);
    position: relative;
    top: 200px;
    margin-left: 170px;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg); 
}

.title {
    font-size: 15px;
    padding-bottom: -6px;
    color: #4f61d6;
}

h3 {
    margin-bottom: 10px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    color: rgb(105, 100, 109);
    font-size: 15px;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: 3s;
    color: rgb(40, 163, 194);
}

.icons i:hover {
    transform: scale(1.2);
    color: rgb(18, 192, 235);
}

